.home{
     padding: 20px;
     .content{
          padding: 10px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          border-radius: 10px;
          
     }
}

.react-calendar{
     margin: 10px auto;
     width: 375px!important;
}

.small{
     display: none;
}

@include responsive("400") {
     .big{
          display: none;
     }
     .small{
          display: block;
     }
}

